
    <section class="category" id="name">
       <h2 class="category-title">Why {{WEBNAME}}?</h2>
       <div class="about">
       <ul class="name">
          <li>In <a href="https://classics.mit.edu/Homer/odyssey.11.xi.html">Book 11</a> of the Odyssey, Circe instructs Odysseus to dig a trench and make offerings before summoning the dead. The name seemed appropriate for a site devoted to learning from people separated from us by centuries—or millennia.</li>
       </ul>
       </div>
    </section>

    <section class="category">
       <h2 class="category-title">Contact</h2>
       <div class="about">
       <ul class="name">
          <li>For academic correspondence, collaboration, or other inquiries, please write to
            <a href="mailto:trenchesofhoney@gmail.com">trenchesofhoney@gmail.com</a>.
       </ul>
       </div>
    </section>

    </main>

    <footer>
      © 2026 Christopher Wood
    </footer>

  </div>

</body>
</html>

